<div class="container">
  <h2 style="text-align: center;margin-top: 20px;font-size: 50px;">Add Book</h2>
  <form method="POST" action="/book/addBook" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group">
      <label style="width: 200px;" class="text-center">
        <input type="file" style="display: none;" id="image" name="file" class="form-control-file border" />
        <img src="../uploads/camera.png" alt="fail" id="img-preview" name="image" class="img-thumbnail">
      </label>
    </div>
    <div class="form-group">
      <label for="username">Name Book: </label>
      <input type="text" class="form-control" name="nameBook" required placeholder="Enter Name Book :">
    </div>
    <div class="form-group">
      <label for="username">Genre: </label>
      <select name="genre" class="form-select form-control" aria-label="Default select example">
        <option selected>Thể loại:</option>
        <option value="Truyện Ma">Truyện Ma</option>
        <option value="Truyện Cổ Tích">Truyện Cổ Tích</option>
        <option value="Truyện Ngụ Ngôn">Truyện Ngụ Ngôn</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Publication Date: </label>
      <input type="date" class="form-control" name="date" required placeholder="Enter Password :">
    </div>
    <div class="form-group">
      <label for="author">Author: </label>
      <input type="text" class="form-control" name="author" required placeholder="Enter the author :">
    </div>
    <div class="form-floating mb-3">
      <label for="content">Content: </label>
      <input type="text" class="form-control" name="content" required placeholder="Enter the content :">
    </div>
    <div class="mb-6">
      <button type="submit" class="btn btn-block text-uppercase btn-primary" style="margin-top: 5px;">
        SUBMIT
      </button>
    </div>
  </form>
</div>
<script>
  const imgInput = document.getElementById('image');
  const imgPreview = document.getElementById('img-preview');

  imgInput.addEventListener('change', () => {
    const file = imgInput.files[0];
    const reader = new FileReader();
    console.log(imgInput, imgPreview)

    reader.addEventListener("load", function () {
      imgPreview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>