<form action="/chuongsach/addchuong" method="POST" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="text">id:</label>
    <input type="text" class="form-control" id="id" name="id" required>
    <div class="invalid-feedback">
      Please provide an id.
    </div>
  </div>
  <div class="form-group">
    <label for="text">namechuong:</label>
    <input type="text" class="form-control" id="namechuong" name="namechuong" required>
    <div class="invalid-feedback">
      Please provide a namechuong.
    </div>
  </div>

    <label for="publisher">noidung:</label>
    <input type="text" class="form-control" id="noidung" name="noidung" required>
    <div class="invalid-feedback">
      Please provide a noidung.
    </div>
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
  const imgInput = document.getElementById('image');
  const imgPreview = document.getElementById('img-preview');
  
  imgInput.addEventListener('change', () => {
    const file = imgInput.files[0];
    const reader = new FileReader();
  
    reader.addEventListener("load", function () {
      imgPreview.src = reader.result;
    }, false);
  
    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>