<table class="table table-striped">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Email</th>
            <th>Name User</th>
        </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
            <td>{{sum @index 1}}</td>
            <td>{{this.email}}</td>
            <td>{{this.nameUser}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>